@charset "UTF-8";
#ideas{
    background-color: rgb(195, 218, 248);
    color:rgb(66, 66, 126);
    font-size:20px;
    width:250px;
    height:50px;
    text-align: center;
    padding:10px;
    border-radius: 10px;
    opacity: 80%;
    margin-bottom:10px ;
}

textarea{
    border-radius: 5px; 
    display: inline-block;
    margin-top:10px;
    width:200px;
    height:50px;
}
form{
    display:inline-block;
}
.tx{
    position: relative;
    top:20px;
    font-size:20px;
}

h1{
    color:rgb(43, 43, 129);
}
a{
    color: rgb(48, 71, 114);
}
.bg{
    background-color: #98d2db;
    margin-bottom: -20px;
    text-align: center;
}
#send{
    width:80px;
    height:30px;
    background-color: rgb(43, 43, 129);
    font-size:15px;
    color:white;
    cursor: pointer;
}
#option{
    cursor: pointer;
    font-size:20px;
}
#idea{
    text-align:center;
    display: inline-block;
}

.wa{
    position: relative;
    margin-top:-30px;

}

.q1{
    position:relative;
    text-decoration: none;
    color:white;
    background-color: rgb(60, 78, 117);
    font-size: 20px;
    border-radius: 5px;
    padding:8px;
    
}

.q{
    display: inline-block;
    margin:15px; 
}

.q1:hover{
    background-color:  rgb(36, 51, 83);
}