@charset "UTF-8";
body{
    font-size: 15px;
}


#roll{
    background-image: url("t.png");
    background-repeat: no-repeat;
    padding-top:170px;
    padding-bottom:380px;
    padding-left: 180px;
    position: relative;
    margin-top: 15px;
}

.a{
    text-decoration: none;
    color:white;
    width:150px;
    background-color: rgb(71, 134, 113);
    padding:5px;
    padding-left: 25px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    margin:10px;
}

body{
    background-color: #2a4e83;

}

#score{
    font-size: 30px;
    color:green;
}

#c{
    color:rgb(66, 66, 155);
}

#score2{
    font-size: 30px;
    color:rgb(128, 9, 0);
}

input{
    cursor: pointer;
}

.s{
    font-size: 20px;
    text-decoration: none;
    color:rgb(27, 36, 66);
    
}

.bs{
    background-color: rgb(168, 205, 253);
    width:200px;
    padding:5px;
    text-align: center;
    border-radius: 8px;
    float: right;
    position: relative;
    top:-20px;
    cursor: pointer;
}

.bs:hover{
    background-color: rgb(116, 169, 238);
    
}
.a:hover{
    background-color: rgb(43, 105, 84);
}

.b{
    text-decoration: none;
    color:white;
    width:130px;
    background-color: rgb(71, 111, 134);
    padding:5px;
    padding-left: 35px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    margin:10px;
}
.b:hover{
    background-color: rgb(48, 88, 110);
}