
.bg{
    background-color: #F3EDDA;
}

.co{
    position: relative;
    left:300px;
    top:-50px;
    display: inline-block;
}

.i,.s,.m{
    margin:70px;
    font-size: 20px;
    display: inline-block;
}

h1{
    border-radius: 8px;
    background-color: rgb(158, 177, 214);
    width:auto;
    color:white;
    font-size: 20px;
    padding:5px;
    width:100px;
    text-align: center;
}
a{
    text-decoration: none;
}
.seaman{
    width:300px;
    position:relative;
    left:200px;
    top:25px;
}

h1:hover{
    background-color: rgb(97, 130, 190);
}