@charset "UTF-8";
/* CSS Document */

/* My grid definitions: divide into 10 columns*/
.row::after {
	content: "";
	clear: both;
	display: table;
}
.col-1 {width: 10%;}
.col-2 {width: 20%;}	
.col-3 {width: 30%;}
.col-4 {width: 40%;}
.col-5 {width: 50%;}
.col-6 {width: 60%;}
.col-7 {width: 70%;}
.col-8 {width: 80%;}
.col-9 {width: 90%;}
.col-10 {width: 100%;}
[class*="col-"] {
	float: right;
}

/* Remove the space between the browser window and the body */
body {
	margin: 0px;
	background-color: #F3EDDA;
	position: relative;
}
/*圓角設計*/
.corner1{
	border-radius: 20px;
}
.corner2{
	border-radius: 5px;
}
.content{
	background-color: #F3EDDA;
	position: relative;
	margin: 50px 150px 40px;
	line-height: 3em;
}
.area-title{
	margin: 50px 0px;
	padding: 10px;
	text-align: center;
	color:  #7f705c;
	letter-spacing: 0.5em;
	line-height: 3em;
}
h2{
	margin: 10px;
	padding: 10px 30px;
	background-color: gold;
	border-radius: 20px;
}
ul {
	list-style-type: none;
}
ul li:before {
	content: '';
	display: inline-block;
	height: 1em;
	width: 1em;
	background-size: 1em;
	background-image: url("17-6.png");
	background-repeat: no-repeat;
	margin-right: 5px;
}
li{
	font-size: 150%;
}
a:link{
	color: darkblue;
	text-decoration: none;
}
a:visited{
	color: darkblue;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	text-decoration-style: dashed;
	border-radius: 5px;
}
